body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}
li {
	font-family: "Open Sans", sans-serif;
	font-size: small;
}
nav {
	border-bottom: 2px solid orange;
}

.button {
	background-color: yellow; /* Green */
	border: none;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#google
{
	display: inline;	
}
#AFriend
{
	display: inline;	
}
#Others
{
	display: inline;	
}
.spacing 
{
	padding : 0px;
	width : 500px;
	margin:0px;
	border:0px;
}
.colorGrey
{ 
color : gray
}
.titleStyles
{
color : rgb(184, 130, 130);
display:flex;
}
.flex-container {
	display: flex;
	flex-direction: column;
	
  }
  
.flex-container > div{
	border: 10px;
	border-color:black;
}

